<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NRules" version="0.8.2" targetFramework="net461" />
  <package id="NRules.Fluent" version="0.8.2" targetFramework="net461" />
  <package id="NRules.RuleModel" version="0.8.2" targetFramework="net461" />
  <package id="NRules.Runtime" version="0.8.2" targetFramework="net461" />
</packages>